<select class="ekomi_reviews_sort" autocomplete="off">
    <option value="1">{{___("Newest reviews")}}</option>
    <option value="2">{{___("Oldest reviews")}}</option>
    <option value="3">{{___("Most helpful reviews")}}</option>
    <option value="4">{{___("Highest rating")}}</option>
    <option value="5">{{___("Lowest rating")}}</option>
</select>